* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 80px; /* Adjusted for fixed header */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px var(--main-color);
    color: var(--main-color);

}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none; /* Adjust as needed for mobile responsiveness */
}

.heading {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

.heading span {
    color: var(--main-color);
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 960px;
    width: calc(100% - 20px);
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: var(--second-bg-color);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;
    transition: box-shadow 0.5s, transform 0.5s;
}

.card:hover {
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.05);
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--main-color), transparent 40%);
    z-index: 3;
}

.card::after {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), var(--main-color), transparent 40%);
    z-index: 1;
}

.card > .card-content {
    background-color: var(--second-bg-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

h1, h2, h3, h4 {
    /* color: var(--main-color); */
    font-weight: 400;
    margin: 0;
}

.card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0 20px;
}

.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card-info-title > h3 {
    font-size: 2em;
    line-height: 20px;
}

.card-info-title > h4 {
    color: var (--text-color);
    font-size: 1em;
    margin-top: 8px;
}

@media (max-width: 1000px) {
    body {
        align-items: flex-start;
        overflow: auto;
    }

    #cards {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        padding: 10px 0;
    }

    .card {
        flex-shrink: 1;
    }
}

@media (max-width: 500px) {
    #cards {
        grid-template-columns: 1fr;
    }

    .card {
        height: 180px;
    }

    .card-image {
        height: 80px;
    }

    .card-info-wrapper {
        padding: 0 10px;
    }

    .card-info-title > h3 {
        font-size: 0.9em;
    }

    .card-info-title > h4 {
        font-size: 0.8em;
        margin-top: 4px;
    }
}

@media (max-width: 320px) {
    .card {
        width: 100%;
    }
}
