:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
    --glow-color: rgba(255, 255, 255, 0.5);
}

body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#heading {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* increased gap */
    max-width: 960px; /* adjusted max-width to account for the increased gap */
    width: calc(100% - 20px);
}

#cards:hover>.card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;
    transition: box-shadow 0.5s, transform 0.5s;
}

.card:hover {
    box-shadow: 0 0 20px var(--glow-color);
    transform: scale(1.05);
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 40%);
    z-index: 3;
}

.card::after {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%);
    z-index: 1;
}

.card>.card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1,
h2,
h3,
h4,
span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
}

.card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}

.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card-info-title>h3 {
    font-size: 1.1em;
    line-height: 20px;
}

.card-info-title>h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
    body {
        align-items: flex-start;
        overflow: auto;
    }

    #cards {
        grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
        max-width: 1000px;
        padding: 10px 0px;
    }

    .card {
        flex-shrink: 1;
    }
}

@media(max-width: 500px) {
    #cards {
        grid-template-columns: 1fr; /* Adjust for very small screens */
    }

    .card {
        height: 180px;
    }

    .card-image {
        height: 80px;
    }

    .card-info-wrapper {
        padding: 0px 10px;
    }

    .card-info-title>h3 {
        font-size: 0.9em;
    }

    .card-info-title>h4 {
        font-size: 0.8em;
        margin-top: 4px;
    }
}

@media(max-width: 320px) {
    .card {
        width: 100%;
    }
}

img {
    position: relative;
    top: 30px;
}
